.d-flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.f-column {
    flex-direction: column;
}

.m-0-auto {
    margin: 0 auto;
}

@keyframes fadeIn {
    from {
        top: 25px;
    }
    to {
        top: 40px;
    }
}
