.slick-slider {
    display: block;
    position: relative;
}

body .slick-dots {
    bottom: -38px;
    left: 40px;
    text-align: left;
}

body .slick-dots li,
body .slick-dots li button {
    width: 32px;
}

.slick-dots li,
.slick-dots li button {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    position: relative;
}
body .slick-dots li.slick-active,
body .slick-dots li.slick-active button {
    width: 50px;
}
body .slick-dots li,
body .slick-dots li button {
    width: 32px;
}
slick-dots li button {
    background: transparent;
    border: 0;
    color: transparent;
    display: block;
    font-size: 0;
    line-height: 0;
    outline: none;
    padding: 5px;
}
.slick-dots li,
.slick-dots li button {
    cursor: pointer;
    height: 20px;
    width: 20px;
}
body .slick-dots li button:before {
    background-color: #dce0e3;
    border-radius: 4px;
    content: '';
    height: 8px;
    margin-right: 10px;
    opacity: 1;
    transition: width 0.3s linear, background-color 0.3s linear;
    width: 32px;
}
body .slick-dots li.slick-active button:before {
    background-color: #9aa6af;
    width: 50px;
}
