.wrapper {
    border: 2px solid #e8e8e8;
    border-radius: 16px;
    margin: 16px 0;
    padding: 24px;
}
.inner {
    display: flex;
}
.thumb {
    min-width: 228px;
    position: relative;
}
.thumb img {
    border-radius: 16px;
    width: 228px;
}
.info {
    flex: 1 1;
    margin-left: 24px;
}
.title {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
}
.title a {
    color: var(--text-color);
}
.freeTitle {
    color: var(--primary-color);
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 4px;
}
.price {
    margin-top: 6px;
}
.desc {
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    font-size: 1.4rem;
    line-height: 1.4;
    margin: 8px 0 16px 0px;
    overflow: hidden;
}
