.wrapper {
    animation: fadeIn 0.3s ease;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.2);
    color: #1d2129;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    transition: all 0.3s ease-in-out;
    will-change: opacity, transform;
}

.wrapper hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin: 8px 0;
}
