.wrapper {
    border: 2px solid #e8e8e8;
    border-radius: 20px;
    flex: 1 1;
    height: 40px;
    padding: 0 16px 0 8px;
    transition: border-color 0.2s ease-in-out;
    width: 420px;
}

.wrapper:focus-within {
    border-color: #444;
}

.searchIcon {
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px;
    border-radius: 50%;
    height: 32px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
    width: 30px;
}

.searchIcon:hover {
    opacity: 1;
}

.input {
    border: none;
    caret-color: #444;
    flex: 1 1;
    height: 100%;
    outline: none;
    padding: 0 4px;
}
