.fieldButton {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    font-size: 1.4rem;
    height: 37px;
    line-height: 37px;
    padding: 0 16px;
    transition: background-color 0.1s, border-color 0.1s, color 0.1s, fill 0.1s;
}

.fieldButtonSave {
    border-color: var(--primary-color);
    color: var(--primary-color);
    margin-right: 8px;
}
