.vertical {
    margin-bottom: 8px;
}
.body {
    min-height: 200px;
    padding-bottom: 0;
}
.subHeading {
    color: #82919b;
    font-size: 1.6rem;
    margin-bottom: 0;
}
.headingWrap {
    align-items: baseline;
    display: flex;
}
.heading {
    color: #242424;
    font-size: 2.4rem;
    font-weight: 900;
    margin-right: auto;
    margin-top: 16px;
    a {
        color: #000;
    }
}

.viewAllIcon {
    display: none;
}
.viewAll {
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 4px;
    padding: 8px 0 8px 8px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    :hover {
        text-decoration: underline;
    }
}
.viewAll:hover svg {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}
.viewAll svg {
    font-size: 1.2rem;
    margin-left: 4px;
    position: relative;
    top: -1px;
    transition: 0.3s ease;
}
